<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" name="MyApp" packages="">
    <Appenders>
        <File name="MyFile" fileName="performance-logs/app.log">
            <PatternLayout>
                <Pattern>%d %p %m%n</Pattern>
            </PatternLayout>
        </File>
        <Async name="Async">
            <AppenderRef ref="MyFile"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Async"/>
        </Root>
    </Loggers>
</Configuration>